<div class="gallery row container">
    <div class="col-lg-2  navbar-right">
        <div class="sort-global">
            <p>{{TitleCtrl.titleName.sortsTitle}}</p>
            <input type="text" class="form-control" id="tokenfield" data-ng-attr-placeholder="{{TitleCtrl.titleName.sortsAttrs}}">
        </div>
    </div>
    <div  data-ng-controller="PictureCtrl as PictureCtrl"  class="gallery-conteiner center-block col-lg-10">
        <div data-ng-repeat="picture in PictureCtrl.pict" class="center-block col-lg-4 col-md-4 col-sm-6 col-xs-12"><span>{{picture.name}}</span><a href="#"><img src="#" data-ng-src="{{picture.pictURL}}" width="504" height="260" data-ng-attr-alt="{{picture.name}}" alt=""></a></div>
    </div>
</div>