<div class="container-rama border-all">
    <div class="top-name-form border-all">
        <span class="title-mame-dialog">comment</span>
        <button type="button" class="close-form border-all btn btn-default" title="close">
            <span class="close-for-forms"></span>
        </button>
    </div>
    <div class="form-content">
        <form>
            <fieldset>
                <label class="col-form-label">Имя:</label>
                <input id="name-person" class="form-control text border-all" type="text" placeholder="Василий" name="name">
                <label class="col-form-label">Эл.адрес:</label>
                <input id="mail-person" class="form-control text border-all" type="text" placeholder="mail@gmail.com">
                <label class="col-form-label">Сообщение:</label>
                <textarea id="text-person" class="form-control text border-all" placeholder="не более 2000 символов"></textarea>
            </fieldset>
        </form>
    </div>
    <div class="button-content border-all">
        <button type="button" class="border-all btn btn-default " title="send">Отправить</button>
    </div>
</div>