<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Gallery</title>
    <link rel="stylesheet" href="../../components/stylesheets/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../components/stylesheets/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="../../components/scripts/bower_components/jquery/dist/jquery.js"></script>
    <script src="../../components/stylesheets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../components/scripts/bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="../../components/stylesheets/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="navbar-header">
                            <ul class="nav nav-tabs">
                                <li> <a>Subscribe to: </a></li>
                                <li><a>Comments</a></li>
                                <li><a>/</a></li>
                                <li><a>Email</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-right navbar-form">
                        <input type="text" class="form-control" placeholder="Search...">
                    </li>
                </ul>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <div class="btn-group btn-group-lg navbar navbar-right">
                    <ul class="nav nav-pills">
                        <li><a  class="btn btn-default">Home</a></li>
                        <li><a  class="btn btn-default">Gallery</a></li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container-rama">
                    <div id="close-form-j" class="close-form ">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="container-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Имя:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Василий">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Эл.адрес:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="mail@gmail.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Тема:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Отзыв, предложение, ..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Текст</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" placeholder="..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="button" class="btn bottom-send" value="Отправить">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="navbar-inner">
    <div class="container footer">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <h2>категория</h2>
                <ul>
                    <li><a>категория1</a></li>
                    <li><a>категория1</a></li>
                    <li><a>категория1</a></li>
                    <li><a>категория1</a></li>
                    <li><a>категория1</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-md-6">
            <div class="thumbnail">
                <h2>галерея</h2>
                <ul >
                    <li>
                        <ul class="nav nav-tabs">
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav nav-tabs">
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                            <li><img alt="img" src="../../hz-__X3PMwU.jpg" width="50" height="50"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <h2>контакты</h2>
                <ul>
                    <li><span>ФИО</span></li>
                    <li><span>телефон</span></li>
                    <li><span>Адрес</span></li>
                    <li><span>почта</span></li>
                    <li><span>skype</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="cron">
    <div class="navbar navbar-inverse navbar-bottom">
        <span>лалалалалл</span>
    </div>
</div>
</body>
</html>